{% extends 'base/layout.html' %}
{% load crispy_forms_tags %}

    
    {% block main %}
        
        <h3 class="h3_head">Add Product</small></h3> 
        <hr>
        <div class="d-none d-lg-block">
        <form method="POST" action="" class="card shadow" style="margin-top: 40px; margin-right: 300px; margin-left: 300px; margin-bottom: 40px;">
        {% csrf_token %}
        <fieldset class=" p-4 border form-group">
            {% comment %} <legend class="border-bottom mb-2" style="text-align: center;"><b>Join Today</b></legend> {% endcomment %}
    
            <div class="form-group">
                {{form|crispy}}
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
            
        </fieldset>
    </form>
    </div>

    {% comment %} MOBILE VIEW {% endcomment %}
    <div class="d-lg-none">
        <form method="POST" action="" class="card shadow" style="margin-top: 40px; margin-bottom: 40px;">
        {% csrf_token %}
        <fieldset class=" p-4 border form-group">
            {% comment %} <legend class="border-bottom mb-2" style="text-align: center;"><b>Join Today</b></legend> {% endcomment %}
    
            <div class="form-group">
                {{form|crispy}}
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
            
        </fieldset>
    </form>
    </div>
    {% endblock main %}}