{% extends 'base/layout.html' %}
{% load static %}
{% load cart_template_tags %}
{% block main %}
	<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<h3 class="h3_head">Overview</h3>
    			<hr>
    			{% comment %} <div class="row">
				  <div class="col-sm-6" >
				    <div class="card shadow" style="height: 400px;">
				      <div class="card-body">
				        <h5 class="card-title">Special title treatment</h5>
				        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				        <a href="#" class="btn btn-primary">Go somewhere</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card shadow" style="height: 400px;">
				      <div class="card-body">
				        <h5 class="card-title">Special title treatment</h5>
				        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				        <a href="#" class="btn btn-primary">Go somewhere</a>
				      </div>
				    </div>
				  </div>
				</div> {% endcomment %}
				<div id="myChart" class="mb-5"></div>
				
				<div class="row">
				  <div class="col-sm-6">
				    <div class="card shadow">
				      <div class="card-body">
				        <h5 class="card-title">Category -- Info</h5>
				        {% if cat.count == 1 %}
						<p class="card-text">{{cat.count}} Category</p>
						{% else %}
						<p class="card-text">{{cat.count}} Categories</p>
						{% endif %}
				        
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card shadow">
				      <div class="card-body">
				        <h5 class="card-title">Product -- Info</h5>
				        {% if prod.count == 1 %}
						<p class="card-text">{{prod.count}} Product</p>
						{% else %}
						<p class="card-text">{{prod.count}} Products</p>
						{% endif %}
				      </div>
				    </div>
				  </div>
				</div>

				
				<script>

	var state ={	
		'items':[],
		'values':[],
	}



	var dataURL = `/chartdata/`
	$.ajax({
		method:'GET',
		url:dataURL,
		success:function(response){
			console.log('RESPONSE:', response)
			for (var i in response){

				var key = Object.keys(response[i])[0]
				var value = Object.values(response[i])[0]

				state.items.push(key)
				state.values.push(value)
			}

			console.log('STATE:', state)
			buildChart()

		}
	})

	function buildChart(){
			var chartData = {
			"type":"line",
			"scale-x":{
				"values":state.items
			},
			"series":[
				{
					"values":state.values
				}
			]
		}


		zingchart.render({
		  id: "myChart",
		  data: chartData,
		});
	}
	


	
</script>

{% endblock main %}