{% extends 'base/layout.html' %}
{% load static %}
{% load cart_template_tags %}
{% block main %}
	<h3 class="h3_head">Overview</h3>
    			<hr>
    			<div class="row">
				  <div class="col-sm-6" >
				    <div class="card shadow" style="height: 400px;">
				      <div class="card-body">
				        <h5 class="card-title">Special title treatment</h5>
				        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				        <a href="#" class="btn btn-primary">Go somewhere</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card shadow" style="height: 400px;">
				      <div class="card-body">
				        <h5 class="card-title">Special title treatment</h5>
				        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				        <a href="#" class="btn btn-primary">Go somewhere</a>
				      </div>
				    </div>
				  </div>
				</div>
				
				<div class="row">
				  <div class="col-sm-6">
				    <div class="card shadow">
				      <div class="card-body">
				        <h5 class="card-title">Category -- Info</h5>
				        {% if cat.count == 1 %}
						<p class="card-text">{{cat.count}} Category</p>
						{% else %}
						<p class="card-text">{{cat.count}} Categories</p>
						{% endif %}
				        
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card shadow">
				      <div class="card-body">
				        <h5 class="card-title">Product -- Info</h5>
				        {% if prod.count == 1 %}
						<p class="card-text">{{prod.count}} Product</p>
						{% else %}
						<p class="card-text">{{prod.count}} Products</p>
						{% endif %}
				      </div>
				    </div>
				  </div>
				</div>
{% endblock main %}