 {% extends "base/layout.html" %}
{% load static %}

{% block main %}

<h4 class="h4_head" >Products to be ordered</h4> 
<hr>
{% if order.items.all.count < 1 %}
<h5 style="text-align: center;">No Order Item!</h5>
{% endif %}
<div class="row ml-5 mr-5 mt-5">
  {% for item in order.items.all %}
  <div class="col-sm-2">
    <div class="card shadow" >
      <div class="card-body">
        <h5 class="card-title">{{item.item.name}}</h5>
        <p class="card-text">Quantity -> {{item.quantity}}</p>       
        <a href="{% url 'remove_from_order' item.id %}"><i class="fas fa-trash prodicon" style="color: red;"></i></a>
      </div>
    </div>
  </div>
  
  {% endfor %}
  

  
  

</div>

<a href="{% url 'save_order' order.id %}"><button class="btn btn-primary shadow-lg  " style="margin-left: 60px;">Save Order</button></a>
     
{% endblock main %} 
