{% extends 'base/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}

	<h3 class="h3_head">Products <small>( {{noc}} Products)</small></h3> 
	<hr>
	
		<form id="searchForm" method="GET" class="mt-4">
			{{productfilter.form|crispy}}
			<input class="btn btn-primary mb-2" type="submit" value="search">
		</form>
		<div class="row ml-5 mr-5 mt-2">
			{% for product in products %}
			<div class="col-sm-6 col-xs-6 col-md-3 ">
				<div class="card shadow proddiv">
				<div class="card-body">
					<h5 class="card-title">{{product.name}}</h5>
					<small>Category <span style="font-weight: bolder;">-></span> {{product.category}}</small><br>
					<small class="card-text">Carton Price <span style="font-weight: bolder;">-></span> Ghc {{product.carton_price}}</small><br>
					<small class="card-text">Carton Quantity <span style="font-weight: bolder;">-></span> {{product.quantity}} CTN</small><br>
					<hr>
					<small class="card-text">Unit Price <span style="font-weight: bolder;">-></span> Ghc {{product.unit_price}}</small><br>
					<small class="card-text">Unit quantity <span style="font-weight: bolder;">-></span> {{product.unit_quantity}} PCS</small><br>
					<small class="card-text">Profit <span style="font-weight: bolder;">-></span> Ghc {{product.get_profit}}</small>

					<hr>
					<small class="card-text">Status
					{% if product.get_status %}
						<span style="font-weight: bolder; ">-></span> <span style="color: green; font-weight: bolder; font-size: 17px;">Available</span></small><br>
					{% else %}
					<span style="font-weight: bolder; ">-></span> <span style="color: red; font-weight: bolder; font-size: 17px;">Not Available</span></small><br>
					{% endif %}
					<hr>
					{% comment %} <small class="mb-1">Edit Quantity</small> {% endcomment %}
					<div class="row">
						<form method="POST" action="{% url 'addquan' product.id %}" class="col">
							{% csrf_token %}
							<input type="text" name="add" style="width: 40px; height: 20px;"> <button type="submit" class="btn btn-primary pb-1 pt-0 mr-2" style="font-weight: bolder;">+</button>
						</form>

						<form method="POST" action="{% url 'subquan' product.id %}" class="col">
							{% csrf_token %}
							<input type="text" name="sub" style="width: 40px; height: 20px;">  <button class="btn btn-primary pb-1 pt-0" style="font-weight: bolder;">-</button>

						</form>
					</div>

					


					<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
					
					
					
					<div class="prodicon mr-5">
						<a href="{% url 'editproduct' product.id %}"><i class="fas fa-edit" style="color: grey;"></i></a>
					</div>
					
					<div class="prodicon">
						<a href="{% url 'prodconfirm' product.id %}"><i class="fas fa-trash" style="color: red;"></i></a>
					</div>
					
				</div>
				</div>
			</div>
	
			{% endfor %}
	
		</div>   
	

{% endblock main %}


